*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#main{
    width:100%;
    background-image: url(food1.jpg);
    background-size: cover;
    background-position: center;
    height:400px;
}
.navbar{
    width:100%;
    height: 80px;
    display: flex;
}
.title{
    margin-right: 10px;
    width:100%;
    height: 60px;
    color:white;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
}
p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.content{
    color: white;
    text-align: center;
    padding-top: 100px;
}
.content p{
    text-decoration:none;
}
#recipe{
    background-color:white;
    width:100%;
    height:auto;
    padding-top: 30px;
    text-align: center;
    text-shadow: 0px 0px 10px gray;
}
.cat{
    background-color: rgb(54, 57, 58);
    color: white;
}
.name{
    display: flex;
    color:black;
    height:40px;
    width:100%;
    background-color: rgb(54, 57, 58);
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 18px;
    transition: transform 0.2s ease-in-out ;
}
.name a:hover{
    text-decoration: none;
    color: orange;
    cursor: pointer;
    transform: scale(1.3);
}

.i1{
    margin:20px 70px 30px 70px;
    width: 200px;
    height: 275px;
    background-color:rgb(222, 184, 135);
    box-shadow: 0px 0px 10px rgb(175, 36, 36);
    color:white;
    text-align: center;
    display: inline-block;
    transition:0.2s ease-in-out;
}
.i1 p{
    color:black;
    text-decoration: none;
} 
.i1:hover{
    box-shadow: 0px 0px 15px rgb(12, 12, 12);
    transform: scale(1.05);
}
#item1{
    margin-top:30px;
    margin-bottom: 50px;
}
#item2,#item3,#item4{
    margin-top:40px;
}
button{
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color:rgb(240, 227, 211);
    color: black;
}
button:hover{
    background-color: orange;
    color: white;
}
#contact{
    margin-top: 30px;
    height:70px;
    width:100%;
    background-color:rgb(247, 226, 226);
    text-align:center;
    padding:10px 0px 0px 0px;
}
#aboutus{
    width:100%;
    height:auto;
    background-color: rgb(216, 205, 205);
    text-align: center;
    padding-top: 10px;
    padding-bottom:10px;
}



